@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #0d0d0f;
}


.product_container {
    margin-top: 150px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
}

.product_image{
    width: 500px;
}

.product_title {
    font-family: 'Work Sans';
    font-size: 21pt;
    color: white;
    font-weight: 600;
    text-align: start !important;
}


.swiper {
    width: 700px;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
}

.swiper-slide img{
    width: 700px;
    height: 400px;
    object-fit: scale-down !important;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}

.swiper-pagination{
    position: absolute !important;
    bottom: 60px !important;
}